[submodule "cimgui"]
	path = cimgui
	url = git@github.com:Knife-Cat/cimgui.git
	branch = docking_inter
[submodule "cimplot"]
	path = cimplot
	url = git@github.com:Knife-Cat/cimplot.git
[submodule "cimnodes"]
	path = cimnodes
	url = git@github.com:Knife-Cat/cimnodes.git
[submodule "cimguizmo"]
	path = cimguizmo
	url = git@github.com:Knife-Cat/cimguizmo.git
[submodule "freetype"]
	path = freetype
	url = git@github.com:freetype/freetype.git
